<!DOCTYPE html>
<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta  name="Codigo secreto" content="1726125705">
    <link rel="stylesheet" href="/style/style.css">
    <title>Web</title>
</head>
<body>
	<ul>
        <li><a href="/">Início</a></li><hr>
		<li><a href="/public/noticias.html">Canais de notícias</a></li><hr>
        <li><a class="active" href="/adicionarPessoa">Adicionar pesssoas</a></li>
        <li><a href="/listarPessoas">listar pessoas</a></li><hr>
        <li><a href="/public/sobre.html">Sobre o site</a></li>
        <li><a href="/public/contato.html">Mande um e-Mail</a></li>
    </ul>
    
    <div class="conteudo">
        <h1>Formulário para cadastro de pessoas:</h1>
        <form th:action="@{/adicionarCliente}" th:object="${cliente}" method="POST">
            <label for="nome">Nome completo *:</label>
            <input type="text" name="nome" th:field="*{nome}" id="nome" placeholder="seu Nome Completo"><br><br>
             <label for="nome">Endereço *:</label>
            <input type="text" name="endereco" th:field="*{endereco}" id="endereco" placeholder="Rua Ernesto Nogueira"><br><br>
            <label for="">Data de Nacimento *:</label>
            <input type="date" th:field="*{dataNascimento}" id="data"  placeholder="Ex.: dd/mm/aaaa"><br><br>
            <label for="email">E-mail</label>
            <input type="email" th:field="*{email}" name="email" id="email" placeholder="nome@dominio.com"><br><br>
            
            <label for="e-mail"></label>
            <label for="sexo">Sexo *:</label><br>
            <input type="radio" th:field="*{genero}" name="genero" value="Masculino">
            <label for="sexo">Masculino</label><br>
            <input type="radio" th:field="*{genero}" name="genero" value="Feminino">
            <label for="sexo">Feminino</label><br>
            <input type="radio" name="genero" th:field="*{genero}" value="Não Informado">
            <label for="sexo">Não informar</label><br><br>
            
           
      
            <input class="button" type="reset" value="Limpar">
            <input class="button" type="submit" value="Cadastrar!">
            
        </form>
    </div>
	
</body>
</html>