<!DOCTYPE html>
<html lang="pt_br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Codigo secreto" content="1930856732">
	<link rel="stylesheet" href="/style/style.css">
	<title>Web</title>
</head>

<body>
	<ul>
		<li><a href="/">Início</a></li>
		<hr>
		<li><a href="/public/noticias.html">Canais de notícias</a></li>
		<hr>
		<li><a href="/cliente/adicionaCliente">Adicionar Clientes</a></li>
		<li><a href="/cliente/listarClientes">Listar Clientes</a></li>
		<li><a  href="/cliente/adicionaDependente">Adicionar Dependente</a></li>
		<li><a  href="/cliente/listarDependentes">Listar Dependentes</a></li>
		<li><a href="/produto/adicionaProduto">Adicionar Produtos</a></li>
		<li><a  href="/produto/listarProdutos">Listar Produtos</a></li>
		<li><a href="/produto/freteMarte">Frete para Marte</a></li>
		<li><a class="active" href="/produto/desconto">Desconto</a></li>
		<li><a href="/pedido/adicionaPedido">Adicionar Pedido</a></li>
		<li><a href="/pedido/listarPedidos">Listar Pedidos</a></li>
		<hr>
		<li><a href="/public/sobre.html">Sobre o site</a></li>
		<li><a href="/public/contato.html">Contato</a></li>
	</ul>

	<div class="conteudo">
		<br/>
		<table>
			<tr>
				<th>Nome</th>
				<th>Preço</th>
				<th>Desconto</th>
			</tr>
			<tr th:each="produto: ${produtos}">
				<td th:text="${produto.nome}"></td>
				<td th:text="${produto.preco}"></td>
				<td th:text="${produto.desconto}"></td>
			</tr>
          </table>
    </div>
</body>
</html>