<!DOCTYPE html>
<html lang="pt_br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="Codigo secreto" content="1237037444">
	<link rel="stylesheet" href="style/style.css">
	<title>Web</title>
</head>

<body>
	<ul>
		<li><a href="index.html">Início</a></li>
		<hr>
		<li><a href="noticias.html">Canaias de notícias</a></li>
		<hr>
		<li><a href="adicionarPessoas.html">Adicionar pesssoas</a></li>
		<li><a class="active" href="listarPessoas.html">listar pessoas</a></li>
		<hr>
		<li><a href="sobre.html">Sobre o site</a></li>
		<li><a href="contato.html">Mande um e-Mail</a></li>
	</ul>

	<div class="conteudo">
		<table>
			<tr>
				<th>Nome completo</th>
				<th>Data de Nacimento</th>
				<th>e-Mail</th>
				<th>sexo</th>
				<th>Editar</th>
				<th>Remover</th>
			</tr>
			<tr th:each="pessoa: ${pessoas}">
				<td th:text="${pessoa.nome}"></td>
				<td th:text="${#temporals.format(pessoa.dataNascimento, 'dd/MM/yyy')}"></td>
                <td>
					<a th:href="'mailto:'+${pessoa.email}" th:text="${pessoa.email}"></a>
				</td>
				<td th:text="${pessoa.genero}"></td>
				<td>
					<a th:href="@{/editar/{id}(id=${pessoa.id})}">Editar</a>
				</td>
                <td><a th:href="@{/remover/{id}(id=${pessoa.id})}">Remover</a></td>
			</tr>
          </table>
    </div>
</body>
</html>